.contract {
  margin-top: 25px;
  line-height: 35px;
}

.serviciesDetail {
  padding: 20px;
  color: #656565;
}

.serviciesDetail:nth-child(2n) {
    background: #f0f0f1;
}

.contractNumberValue {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #656565;
}

.gridTitle {
  padding-left: 20px;
}

.contractForm {
  margin-left: 25px;
}
