.navBar {
  min-width: 300px;
  flex: none;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  // box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: black;
  // background-color: #005AB3;
  font-size: 20px;
  z-index: 99997;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f1;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-profile-info {
  position: absolute;
  right: 20px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.navbar-profile-info .user {
  margin-right: 5px;
}
.navbar-profile-info .tenant {
  margin-right: 10px;
  // font-style: italic;
}
.navbar-profile-info svg {
  font-size: 21px;
  margin-top: 1px;
}

.navbar-title {
  display: none;
}

.navbar-title-mobile {
  display: none;
}


@media (max-width: 1024px) {
  .navbar-profile-info {
    display: none;
  }

  .navbar-title {
    display: inline;
  }
}

@media (max-width: 576px) {
  .navbar-title-mobile {
    display: inline;
    font-size: 16px;
  }
}
