html, body {
  height: calc(100% - 30px);
  font-family: 'Numans', sans-serif;
}
#app {
  height: 100%;
}

.k-pager-wrap .k-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

span.k-link.k-pager-nav {
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.k-list-filter > .k-icon {
  right: 23px;
}

/****** Section Delimitator Design ******/
.section-header::before {
  border-color: #d2d2d2;
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 8px;
  border-top: 1px solid #e8ecef;
}

.section-header {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
/*****************************************/

/************* Page Design ***************/
h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 15px;
  font-size: 15px;
  color: #888888;
  background: #fff;
  text-transform: uppercase;
}

.pageContent {
  background: #f7f7fa;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

#statusMessageId {
  display: none;
}

body, .section-header h3 {
  color: rgba(135, 135, 135, 0.8804);
  background: #fafafa;
}

div[class^="col-"] {
  display: inline-block;
}

div.section {
  font-size: 14px;
}

.marginedTopSection {
  margin-top: 15px;
}

.marginedBottomSection {
  margin-bottom: 15px;
}

.record-list-item {
  margin-bottom: 15px;
}

div.section-cell {
  margin-top: 10px;
  margin-bottom: 10px;
  /* text-align: center; */
}
.centered-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-row {
  width: 100%;
  margin-bottom: 40px;
}
.section-add-record {
  text-align: right;
}
div[id^="rbi_S_"] + table {
  display: none;
}

#item-inventory-grid td {
  width: 100%;
}

.mvDocs-list-row {
  padding: 21px 0px 11px 0px;
  border-bottom: 2px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #268edd;
  cursor: pointer;
}

.listDocs a,
.listRequests a {
  text-decoration: unset;
}

.summary {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.summary label {
  display: flex;
  color: #589cd0;
  margin-right: 5px;
}

.summary label.labelWithIcon {
  margin-right: 10px;
}

.summary label .k-icon {
  margin-right: 5px;
}

.summary span {
  word-break: break-all;
}

.datetime_summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #589cd0;
  margin-right: 15px;
  margin-top: 15px;
}

.mvDocs-list-row-header {
  display: flex;
  font-size: 17px;
  font-weight: bold;
  color: #015ab3;
  padding-left: 15px;
  margin-bottom: 15px;
}

.mvDocs-list-row-header .k-icon {
  font-size: 17px;
  font-weight: bold;
  margin-right: 5px;
}

hr {
  margin: 0px;
}

.navigationHandler {
  margin-bottom: 70px;
}

.rbwhite {
  background: unset;
}

.take-photo-control {
  position: relative;
  display: block;
  width: 100%;
  padding: 23px 5% 10px 5%;
  text-align: center;
}

/* .take-photo-control .image-background {
  background: black;
  width: 100%;
  display: grid;
  justify-content: center;
} */

.take-photo-control img {
  max-width: 100%;
  max-height: 400px;
}

.cameraButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  right: calc(5% + 5px);
  background: #2296f3;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-weight: 500;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.cameraButton:hover,
.cameraButton:active {
  background: #41a2f0;
}

/* This is the part that actually hides the 'Choose file' text box for camera inputs */
.cameraButton input[type="file"] {
  display: none;
}

.cameraButton span {
  font-size: 18px;
  color: white;
}

#rotate-btn {
  position: absolute;
  top: 30px;
  left: calc(5% + 5px);
  width: 40px;
  height: 40px;
}

#rotate-btn span {
  font-size: 18px;
  color: white;
}

.rotate90 {
  transform: rotate(90deg);
}
.rotate180 {
  transform: rotate(180deg);
}
.rotate270 {
  transform: rotate(270deg);
}

.k-barcode {
  display: flex !important;
  justify-content: center;
}
/*****************************************/

/*** Template GRID ****/
.item-inv-small-image {
  width: 50%;
  max-width: 200px;
  max-height: 200px;
}
/*****************************************/

/*** KENDO WIDGETS SIZE AND ALIGNMENT ****/
.textbox,
.k-numerictextbox,
.k-datepicker,
.k-multiselect,
.k-dropdown {
  display: inline-block !important;
  width: 100%;
  max-width: 90%;
  font-size: 15px;
}

.k-dropdown-wrap .k-input {
  padding-left: 9px;
}

.k-multiselect .k-multiselect-wrap li {
  padding-right: 25px;
  min-width: 65px;
}
.k-multiselect .k-multiselect-wrap li span:nth-child(2) {
  margin: unset;
  width: 17px;
}

.k-grid {
  margin-top: 25px;
}

.k-nodata {
  min-height: 60px !important;
}

.k-alt {
  background-color: #f3f9ff !important;
}

.k-grid-toolbar {
  padding: 0px;
}

ul.k-pager-numbers.k-reset {
    background-color: transparent !important;
}

ul.k-pager-numbers .k-current-page span {
  background-color: transparent !important;
}

.k-loading-image {
  background: #00000022;
}

.k-list-scroller .k-list {
  padding: 0px 15px;
}

.k-list-scroller .k-list .k-item {
  font-size: 15px;
}

kendo-scrollview.k-scrollview-wrap
.k-scrollview-next:hover
span::before,
kendo-scrollview.k-scrollview-wrap
.k-scrollview-prev:hover
span::before,
div.k-scrollview
.k-scrollview-next:hover
span::before,
div.k-scrollview
.k-scrollview-prev:hover
span::before {
  background: transparent;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.k-list-optionlabel {
  display: none;
}

#addLineScrollView .k-scrollview-prev,
#addLineScrollView .k-scrollview-next,
#addLineScrollView .k-scrollview-nav-wrap {
  display: none !important;
}

.showQuagga {
  position: fixed;
  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.showQuagga video {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
.showQuagga canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
}
.hideQuagga {
  display: none;
}
.confirm-modal {
  position: fixed;
  top: 30%;
  left: calc(50% - 135px);
  z-index: 3;
  background: white;
  font-size: 19px;
  width: 50%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.confirm-modal-navbar {
  height: 25px;
  background: rebeccapurple;
}
.confirm-modal-content {
  padding: 10px;
}
.confirm-modal-options {
  display: flex;
  width: 100%;
}
.confirm-modal-option {
  width: 50%;
}
.confirm-modal-option a {
  width: 100%;
}

.close-quagga-btn {
  position: fixed;
  top: 60px;
  right: 12px;
  z-index: 3;
}
/*****************************************/

/***********   New Movement Doc   *************/
.footerBtn {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: white;
  flex-direction: row-reverse;
  font-size: 15px;
  text-transform: capitalize;
}

.footerBtn span:nth-child(2) {
  margin-top: 5px;
  margin-right: 15px;
}

.footerBtn .k-icon {
  font-size: 22px;
}
/*****************************************/

/***********   Navbar   *************/
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  height: 48px;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
  background-color: #005AB3;
  font-size: 1.15rem;
  z-index: 1010;
  font-weight: 900;
  justify-content: center;
}

.navbar a {
  color: white;
}

.navbar a span {
  font-size: 18px;
  font-weight: bold;
}

.navbar .left {
  position: absolute;
  top: 15px;
  left: 20px;
}
.navbar .right {
  position: absolute;
  top: 15px;
  right: 20px;
}

.k-rpanel {
  background: #2657b8;
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 260px;
  width: 60%;
  max-width: 320px;
  height: 100%;
  top: 0;
  padding-top: 48px;
  overflow: visible;
  z-index: 9999;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.navigation-links a {
  margin-left: 20px;
  margin-top: 10px;
}

.addProd {
  position: fixed;
  right: 5px;
  top: 5px;
  background: transparent;
  box-shadow: none;
}

/***********   Items List   *************/
.product:nth-child(even) {
  background: #f3f9ff;
}

.product {
  padding: 10px 0px;
}

.containerList {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 15px;
}

.expandDetails {
  font-size: 15px;
  font-weight: 900;
  line-height: 25px;
  color: #005ab3;
}

.details {
  display: flex;
  flex-direction: column;
  color: #abadb1;
  font-size: 13px;
  line-height: 20px;
}

.impDetails {
  display: flex;
  flex-direction: column;
  color: #3f536e;
}

.listDocs {
  font-size: 14px;
}
/*****************************************/

/***********   Razvan   *************/
body, .section-header h3 {
  background: #f7f7fa
}

.list-row {
  border: 2px solid #eaeaea;
  background: #fafafa;
}

.control {
  background: transparent;
  text-align: center;
}

.tbx-and-btn {
  display: flex !important;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
}

.tbx-and-btn .k-textbox {
  width: calc(100% - 100px);
  max-width: unset;
}

.tbx-and-btn label {
  left: 0px !important;
}

div.section-cell {
  /* background: #fafafa; */
}

div.delete-item-container,
div.action-buttons-per-line {
  position: absolute;
  right: 0px;
  top: 0px;
}

div.delete-item-container .k-button,
div.action-buttons-per-line .k-button {
  height: 25px;
  width: 25px;
  padding: 0px;
  margin: 5px 5px 0px 1px;
}

div.action-buttons-per-page {
  position: fixed;
  bottom: 30px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
div.action-buttons-per-page .k-button {
  border-radius: 50%;
  height: 53px;
  width: 53px;
}
div.action-buttons-per-page .k-button span {
  font-size: 23px;
}

#add-line-btn,
#save-doc-btn {
  position: fixed;
  border-radius: 50%;
  height: 53px;
  width: 53px;
}

#add-line-btn {
  right: 30px;
  bottom: 30px;
}

#save-doc-btn {
  left: 30px;
  bottom: 30px;
}

#add-line-btn span,
#save-doc-btn span {
  font-size: 23px;
}

@media only screen and (min-width: 600px) {
  #add-line-btn,
  #save-doc-btn,
  div.action-buttons-per-page .k-button {
    height: 60px;
    width: 60px;
  }

  #add-line-btn span,
  #save-doc-btn span,
  div.action-buttons-per-page .k-button span {
    font-size: 23px;
  }
}


@media only screen and (min-width: 1024px) {
  #add-line-btn,
  #save-doc-btn,
  div.action-buttons-per-page .k-button {
    height: 70px;
    width: 70px;
  }

  #add-line-btn span,
  #save-doc-btn span,
  div.action-buttons-per-page .k-button span {
    font-size: 27px;
  }
}

.reject-btn {
  background: #ff6969;
}
.accept-btn {
  background: #9797ff;
}

div.row-item-container {
  position: absolute;
  bottom: 3px;
  right: 10px;
}

div.row-item-container span {
  color: #589cd0;
  font-style: italic;
}

.odd {
  background-color: #f1f3ff
}

.record-list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  border: 2px solid #eaeaea;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 17px;
  font-size: 14px;
  background: #fdfdfd;
  box-shadow: 0px 2px 2px #eaeaea;
}

.approvedLine {
  background: #e1ccff;
}

.rejectedLine {
  background: #f7c5dd;
}

.item-image-container {
  width: 35%;
  min-width: 120px;
  padding-left: 4px;
}

.image-background {
  border: 2px solid #eaeaea;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #f7f7fa;
}

.image-background:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.take-photo-control .image-background {
  border: 0px;
  background: black;
}

.image-background img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.item-summary-container {
  width: 65%;
}
