.k-rpanel-toggle {
  position: absolute;
  left: 20px;
  top: 14px;
  cursor: pointer;
}

.k-rpanel-toggle span {
  font-size: 17px;
}

.k-rpanel {
  background: #204c76;//linear-gradient(132.79deg, #1f85e9, darkslateblue);
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 260px;
  width: 60%;
  max-width: 320px;
  height: 100%;
  top: 0;
  padding-top: 60px;
  overflow: visible;
  z-index: 99996;
}

.k-rpanel-expanded {
  box-shadow: 0 0 10px 4px rgba(0,0,0,.38);
}

.k-rpanel .k-rpanel-toggle {
  color: #c8dff4;
  font-size: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.k-rpanel-left {
  transform: translateX(calc(-100% + 60px)) translateZ(0) !important;
}
.k-rpanel-expanded {
  transform: translateX(0) translateZ(0) !important;
}
.k-rpanel .k-rpanel-toggle {
  display: none;
}

.navigation-links,
.small-screen-navigation-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 17px;
}
.small-screen-navigation-links {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 60px;
  padding-top: 62px;
  color: white;
}

.navigation-links a {
  padding-left: 20px;
  height: 61px;
  color: #c8dff4 !important;
  text-decoration: none;
  cursor: pointer;
}
.small-screen-navigation-links a {
  color: #c8dff4 !important;
  text-decoration: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.navigation-top-links,
.navigation-bottom-links {
  display: flex;
  flex-direction: column;
}

.navigation-bottom-links {
  // padding-bottom: 20px;
}

.k-rpanel-expanded
.small-screen-navigation-links {
  display: none;
}

.bottom-links {
  display: flex;
  align-items: center;
}

.leftMenuIcons {
  margin-right: 10px;
}

.navigation .my-user-details .user {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -0.31px;
  line-height: 24px;
  margin-left: 20px;
  margin-top: 10px;
  color: #c8dff4 !important;
}

.navigation .my-user-details .role {
  font-size: 15px;
  letter-spacing: -0.31px;
  line-height: 24px;
  margin-left: 20px;
  color: #c8dff4 !important;
}

.navigation .my-user-details {
  display: none;
}

@media (max-width: 1024px) {
  .k-rpanel {
    z-index: 99998;
  }
  .k-rpanel-left {
    transform: translateX(-100%) translateZ(0) !important;
  }
  .k-rpanel-expanded {
    transform: translateX(0) translateZ(0) !important;
  }
  .k-rpanel .k-rpanel-toggle {
    display: flex;
  }
  .small-screen-navigation-links {
    display: none;
  }
  .navigation .my-user-details {
    display: block;
    margin-bottom: 20px;
  }
}
